@charset "utf-8";
/* CSS Document */
body{background-color:black;} 


body{
	
font-family: 'Patua One', cursive; font-size: 28px;

}

.centralize{
	margin: 0 auto;
	width: 980px;
}

.menu{
	background: rgba(255,0,4,1.00);
    height: 30px;
}

.banner{
	background:rgba(0,255,29,1.00);
	height: 550px;
}

.conteudo{
	background: rgba(43,133,255,1.00);
	height: 600px;
}


.menu ul li {display: inline; padding: 60px;}
.menu ul {padding: 0px;}
